package components

type DropDownItemProps struct {
	ID   string
	Link string
	Text string
}

templ DropDownItem(props DropDownItemProps) {
	<a id={ props.ID } href={ props.Link } style="text-decoration: none; color: black;">
		<div class="dropdown-item">{ props.Text }</div>
	</a>
}
